{"swagger":"2.0","info":{"title":"School","version":"1.0","description":"This API is used to provide access to school information such as users, academics, admissions, athletics, content, lists, and general school info."},"host":"api.sky.blackbaud.com","basePath":"/school","schemes":["https"],"securityDefinitions":{"apiKeyHeader":{"type":"apiKey","name":"Bb-Api-Subscription-Key","in":"header"},"apiKeyQuery":{"type":"apiKey","name":"subscription-key","in":"query"},"oauth2Blackbaud OAuth 2.0 Service":{"type":"oauth2","scopes":{},"flow":"accessCode","authorizationUrl":"https://oauth2.sky.blackbaud.com/authorization","tokenUrl":"https://oauth2.sky.blackbaud.com/token"}},"security":[{"apiKeyHeader":[],"oauth2Blackbaud OAuth 2.0 Service":[]},{"apiKeyQuery":[],"oauth2Blackbaud OAuth 2.0 Service":[]}],"paths":{"/v1/roles":{"get":{"description":"Returns a collection of core school user roles.\n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>SKY API Data Sync</li><li>Any Manager Role</li></ul>","operationId":"v1rolesget","summary":"Core roles","tags":["Core"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RoleCollection"},"examples":{"application/json":{"count":2,"value":[{"id":1,"base_role_id":14,"hidden":false,"name":"Student"},{"id":2,"base_role_id":15,"hidden":false,"name":"Teacher"}]}}}}}},"/v1/years":{"get":{"description":"Returns a collection of core school years.\n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Academic Group Manager</li><li>Schedule Manager</li><li>Platform Manager</li><li>Any Manager Role</li></ul>","operationId":"v1yearsget","summary":"Core years","tags":["Core"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/YearCollection"},"examples":{"application/json":{"count":1,"value":[{"id":1,"begin_date":"2018-08-30T12:00:00","current_year":true,"end_date":"2019-06-10T12:00:00","published":true,"school_year_label":"2018-2019"}]}}}}}},"/v1/levels":{"get":{"description":"Returns a collection of core school levels.\n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>SKY API Data Sync</li><li>Any Manager Role</li></ul>","operationId":"v1levelsget","summary":"Core school levels","tags":["Core"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LevelCollection"},"examples":{"application/json":{"count":2,"value":[{"id":1,"abbreviation":"L","name":"Lower School"},{"id":2,"abbreviation":"M","name":"Middle School"}]}}}}}},"/v1/gradelevels":{"get":{"description":"Returns a collection of core school grade levels.\n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Academic Group Manager</li><li>Schedule Manager</li><li>Platform Manager</li><li>Any Manager Role</li></ul>","operationId":"v1gradelevelsget","summary":"Core grade levels","tags":["Core"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GradeLevelCollection"},"examples":{"application/json":{"count":2,"value":[{"id":1,"active":true,"description":"Ninth Grade","abbreviation":"09","name":"Grade 9","promote_to_code":1},{"id":2,"active":true,"description":"Tenth Grade","abbreviation":"10","name":"Grade 10","promote_to_code":1}]}}}}}},"/v1/offeringtypes":{"get":{"description":"Returns a collection of core school offering types.\n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Academic Group Manager</li><li>Schedule Manager</li><li>Platform Manager</li></ul>","operationId":"v1offeringtypesget","summary":"Core offering types","tags":["Core"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OfferingTypeCollection"},"examples":{"application/json":{"count":13,"value":[{"id":0,"description":"School"},{"id":1,"description":"Academics"},{"id":2,"description":"Activities"},{"id":3,"description":"Advisory"},{"id":4,"description":"Dorms"},{"id":5,"description":"Transcript"},{"id":6,"description":"OfferedCourse"},{"id":8,"description":"SchoolWideAwards"},{"id":9,"description":"Athletic"},{"id":10,"description":"Admissions"},{"id":11,"description":"Community groups"},{"id":12,"description":"Mentor"},{"id":13,"description":"Events"}]}}}}}},"/v1/terms":{"get":{"description":"Returns a collection of core school terms.\n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Academic Group Manager</li><li>Schedule Manager</li><li>Platform Manager</li><li>Any Manager Role</li></ul>","operationId":"v1termsget","summary":"Core terms","tags":["Core"],"parameters":[{"name":"school_year","in":"query","description":"The school year to get terms for. Defaults to the current school year.","type":"string"},{"name":"offering_type","in":"query","description":"Format - int32. The offering type to filter terms by.","type":"integer","format":"int32"}],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TermCollection"},"examples":{"application/json":{"count":2,"value":[{"id":123,"begin_date":"2018-08-30T12:00:00","description":"Term 1","end_date":"2019-11-24T12:00:00","level_description":"The first term","level_id":1,"offering_type":1,"school_year_label":"2018-2019"},{"id":1234,"begin_date":"2018-11-25T12:00:00","description":"Term 2","end_date":"2019-02-01T12:00:00","level_description":"The second term","level_id":1,"offering_type":1,"school_year_label":"2018-2019"}]}}}}}},"/v1/users":{"get":{"description":"Returns a paginated collection of users, limited to 100 users per page.\n\r\nUse the record number as the ```marker``` value to return the next set of results. For example: ```marker=101``` will return the second set of results.\n\r\nResults are dependent on the directory settings of each user.\n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Billing Clerk</li><li>Password Manager</li><li>Contact Card Manager</li><li>Platform Manager</li></ul>","operationId":"v1usersget","summary":"Users by role(s)","tags":["User"],"parameters":[{"name":"roles","in":"query","description":"Comma-delimited list of role IDs to get users for.","required":true,"type":"string"},{"name":"first_name","in":"query","description":"Filter results by first name.","type":"string"},{"name":"last_name","in":"query","description":"Filter results by last name.","type":"string"},{"name":"email","in":"query","description":"Filter results by e-mail.","type":"string"},{"name":"maiden_name","in":"query","description":"Filter results by maiden name.","type":"string"},{"name":"grad_year","in":"query","description":"The beginning date in a school year (ex. 2017).","type":"string"},{"name":"end_grad_year","in":"query","description":"The end date in a school year (ex. 2018). Enter a grad_year and end_grad_year to find matching results in the date range.","type":"string"},{"name":"marker","in":"query","description":"Format - int32. The record number start at to return the next batch of data.","type":"integer","format":"int32"}],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserReadCollection"},"examples":{"application/json":{"count":1,"next_link":"/v1/users/?roles=4180&marker=101","value":[{"id":1,"deceased":false,"display":"John Smith","email":"example@example.com","email_active":true,"first_name":"John","last_name":"Smith","lost":false,"maiden_name":"","middle_name":"Nolan","nick_name":"Jonny","preferred_name":"SuperStar","preferred_last_name":"Smith","dob":"2002-10-15T12:00:00","prefix":"Mr.","suffix":"III"}]}}}}},"patch":{"description":"Updates the record of a single user. <b>Note:</b> Deleting/clearing data from a field requires the use of the ```fields_to_delete``` property described below \n\r\nReturns the ID of the user just updated upon success. \n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Platform Manager</li><li>Contact Card Manager</li></ul>","operationId":"V1UsersPatch","summary":"User update","tags":["User"],"parameters":[{"name":"userEdit","in":"body","schema":{"$ref":"#/definitions/UserEdit"},"description":"User information to be updated"}],"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"ID of the user just updated.","schema":{"format":"int64","type":"integer"},"examples":{"application/json":{"affiliation":"Test Affiliation","birth_place":"USA","boarding_or_day":"B","cc_email":"example@example.com","cc_email_active":true,"citizenship":"United States","custom_field_one":"custom value","custom_field_two":"custom value","custom_field_three":"custom value","custom_field_four":"custom value","custom_field_five":"custom value","custom_field_six":"custom value","custom_field_seven":"custom value","custom_field_eight":"custom value","custom_field_nine":"custom value","custom_field_ten":"custom value","custom_field_10":"custom value","custom_field_3":"custom value","custom_field_2":"custom value","custom_field_1":"custom value","custom_field_4":"custom value","custom_field_5":"custom value","custom_field_6":"custom value","custom_field_7":"custom value","custom_field_8":"custom value","custom_field_9":"custom value","deceased":false,"dob":"1987-02-14T12:00:00","email":"example@example.com","email_active":true,"ethnicity":"Latin American","first_name":"John","gender":"Male","greeting":"","home_languages":[{"language":"German"},{"language":"5997"}],"host_id":"example-host-id","id":1,"international":"Yes","is_abroad":true,"latino_hispanic":"Yes","is_responsible_signer":true,"in_state":{"resident":"Yes","county":"Merrimack","from_date":"1987-02-14T12:00:00"},"last_name":"Smith","living_status":"Single","locker":{"number":"123","combo":""},"lost":false,"maiden_name":"","mailbox":{"number":"222","combo":""},"middle_name":"Nolan","passport":{"number":"HG2345T","expire_date":"2035-09-29T12:00:00"},"personal_bio":"The is my personal bio","primary_language":"English","preferred_name":"Jonny","preferred_lastname":"Smith","prefix":"Mr.","pronouns":"(He/Him/His)","public_bio":"This is my public bio.","races":[{"race_type":"American Indian or Alaska Native"},{"race_type":"1430"}],"religion":"Christian","school_program":"Ninja squad","state_id":"","student_id":"","suffix":"III","summary_note":"This is my summary note.","visa":{"number":"12345678","status":"Current","type":"Student","issue_date":"2020-09-14T12:00:00","expire_date":"2025-09-28T12:00:00"},"fields_to_delete":["middle_name","locker.number","visa.number"]}}}}},"post":{"description":"Creates a new user record.\n\r\nReturns the newly created ID. \n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Platform Manager</li><li>Contact Card Manager</li></ul>","operationId":"V1UsersPost","summary":"User create","tags":["User"],"parameters":[{"name":"userAdd","in":"body","schema":{"$ref":"#/definitions/UserAdd"},"description":"The user to be created"}],"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"ID of the user just created.","schema":{"format":"int64","type":"integer"},"examples":{"application/json":{"affiliation":"Test Affiliation","birth_place":"USA","boarding_or_day":"B","cc_email":"example@example.com","cc_email_active":true,"citizenship":"United States","custom_field_eight":"custom value","custom_field_five":"custom value","custom_field_four":"custom value","custom_field_nine":"custom value","custom_field_one":"custom value","custom_field_seven":"custom value","custom_field_six":"custom value","custom_field_ten":"custom value","custom_field_three":"custom value","custom_field_two":"custom value","deceased":false,"dob":"1987-02-14T12:00:00","email":"example@example.com","email_active":true,"ethnicity":"Latin American","first_name":"John","gender":"Male","greeting":"","home_languages":[{"language":"German"},{"language":"5997"}],"host_id":"example-host-id","international":"Yes","is_abroad":true,"latino_hispanic":"No","is_responsible_signer":true,"in_state":{"resident":"Yes","county":"Merrimack","from_date":"1987-02-14T12:00:00"},"last_name":"Smith","living_status":"Single","locker":{"number":"123","combo":""},"lost":false,"maiden_name":"","mailbox":{"number":"222","combo":""},"middle_name":"Nolan","passport":{"number":"HG2345T","expire_date":"2035-09-29T12:00:00"},"personal_bio":"This is my personal bio.","primary_language":"English","preferred_name":"Jonny","preferred_lastname":"Smith","prefix":"Mr.","pronouns":"(He/Him/His)","public_bio":"This is my public bio.","races":[{"race_type":"American Indian or Alaska Native"},{"race_type":"1430"}],"religion":"Christian","school_program":"Ninja squad","state_id":"","student_id":"","suffix":"III","summary_note":"This is my summary note.","visa":{"number":"12345678","status":"Current","type":"Student","issue_date":"2020-09-14T12:00:00","expire_date":"2025-09-28T12:00:00"}}}}}}},"/v1/academics/sections":{"get":{"description":"Returns a collection of academic sections for the specified school level.\n\r\nRequires the following role in the Education Management system:\r\n<ul><li>Academic Group Manager</li></ul>","operationId":"V1AcademicsSectionsGet","summary":"Academics sections by school level","tags":["Academics"],"parameters":[{"name":"level_num","in":"query","description":"Format - int32. Level number.","required":true,"type":"integer","format":"int32"},{"name":"school_year","in":"query","description":"The school year to get sections for. Corresponds to ```school_year_label``` in the <a href=\"https://developer.sky.blackbaud.com/docs/services/school/operations/v1yearsget\">Year list</a>. Defaults to the current school year.","type":"string"}],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AcademicsSectionCollection"},"examples":{"application/json":{"count":1,"value":[{"teachers":[{"id":4567,"head":true,"name":"John Smith","firstname":"John","lastname":"Smith","preferred_name":"Jon","formatted_name":"Smith, Jon","email":"jonsmith@example.com","cell_phone":"555-555-5555"}],"custom_fields":[{"usage_id":12345,"udf_usage_id":5,"data_type_id":1,"data_type":"Data Type","data_type_description":"Data Type Description","field_id":0,"field_name":"Field Name","bit_value":true,"int_value":1,"decimal_value":1.5,"text_value":"Text Value","last_modified_user_id":1,"last_modified_date":"2023-10-17T12:00:00","status":true,"unique":true,"required":true,"table_id":1,"table_value_id":1,"table_value":"Table Value","table_value_abbreviation":"Table Value Abbreviation"}],"id":123,"course_code":"123","duration":{"id":1,"name":"Duration Name"},"lead_section_id":2,"name":"Section name","offering_id":1,"parent_section_id":2,"room_id":12,"school_year":"2017-2018","section_identifier":"Section Identifier"}]}}}}}},"/v1/academics/sections/{section_id}/assignments":{"get":{"description":"Returns a collection of assignments for the specified ```section_id```.\n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Academic Group Manager</li><li>Student</li><li>Teacher</li><li>Pending Teacher</li></ul>","operationId":"V1AcademicsSectionsBySection_idAssignmentsGet","summary":"Academics assignments by section","tags":["Academics"],"parameters":[{"name":"section_id","in":"path","description":"Format - int32. The ID of the section.","required":true,"type":"integer","format":"int32"},{"name":"types","in":"query","description":"Returns results that match a comma separated list of assignment type IDs.","type":"string"},{"name":"status","in":"query","description":"The status of the assignment. The status corresponds with static system options. Allowed values: \"0\" for In Progress, \"1\" for Completed, \"2\" for Overdue, and \"-1\" for To Do.","type":"string"},{"name":"persona_id","in":"query","description":"Format - int32. The ID of the persona to get assignments. 3 = Faculty, 2 = Student. Defaults to 3.","type":"integer","format":"int32"},{"name":"filter","in":"query","description":"Return assignments based on the entered string: ```expired```, ```future```, or ```all```. All is the default sort value.","type":"string"},{"name":"search","in":"query","description":"Returns results with Descriptions or Titles that match search string.","type":"string"}],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AssignmentCollection"},"examples":{"application/json":{"count":1,"value":[{"id":7666244,"date":"2018-08-30T12:00:00","description":"This is the description of the assignment","discussion":false,"due_date":"2019-11-24T12:00:00","enrolled":0,"graded_count":0,"index_id":11967810,"major":false,"name":"Test API assignment","publish_on_assigned":false,"published":true,"rank":1,"status":2,"type":"Lab","type_id":1705}]}}}}}},"/v1/users/{user_id}/relationships":{"get":{"description":"Returns a collection of a relationships for the specified ```user_id```.\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Payment Services Manager</li><li>Integration Manager</li><li>Contact Card Manager</li><li>Platform Manager</li></ul>","operationId":"V1UsersByUser_idRelationshipsGet","summary":"Users relationships by user","tags":["User"],"parameters":[{"name":"user_id","in":"path","description":"Format - int32. The ID of the user.","required":true,"type":"integer","format":"int32"}],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RelationshipReadCollection"},"examples":{"application/json":{"count":1,"value":[{"comment":"Picks up student after school","contact":true,"first_name":"Maura","last_name":"Smith","list_as_parent":true,"parental_access":true,"primary":false,"relationship":6,"resides_with":true,"show_parent":true,"tuition_responsible_signer":true,"type_id":1,"user_one_id":1801001,"user_one_role":"Child","user_two_id":3552640}]}}}}},"delete":{"description":"Removes a relationship record from the specified ```user_id```.\n\r\nIf the related individual is also a user, the user profile of that user is preserved. Individuals may need to review or update their emergency contacts.\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Payment Services Manager</li><li>Integration Manager</li><li>Contact Card Manager</li><li>Platform Manager</li></ul>","operationId":"V1UsersByUser_idRelationshipsDelete","summary":"Users relationship delete","tags":["User"],"parameters":[{"name":"left_user","in":"query","description":"Format - int32. ID of the other user in the relationship.","required":true,"type":"integer","format":"int32"},{"name":"user_id","in":"path","description":"Format - int32. The ID of the user for whom you are deleting the relationship.","required":true,"type":"integer","format":"int32"},{"name":"relationship_type","in":"query","description":"Defines the relationship between left_user and this user.","required":true,"type":"string","enum":["NOT_SET","StepParent_StepChild","GrGrandParent_GrGrandChild","Guardian_Ward","AuntUncle_NieceNephew","Grandparent_Grandchild","Parent_Child","Custodian_Student","Consultant_Student","Caretaker_Charge","SpousePartner_SpousePartner","StepSibling_StepSibling","ExHusband_ExWife","Associate_Associate","HalfSibling_HalfSibling","Husband_Wife","Spouse_Spouse","Sibling_Sibling","Cousin_Cousin","Friend_Friend"]}],"responses":{"200":{"description":"OK"}}},"post":{"description":"Creates a relationship record for the specified ```user_id```.\n\r\nThis doesn't create a user profile for the related individual.\n\r\nReturns 200 OK\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Payment Services Manager</li><li>Integration Manager</li><li>Contact Card Manager</li><li>Platform Manager</li></ul>","operationId":"V1UsersByUser_idRelationshipsPost","summary":"Users relationship create","tags":["User"],"parameters":[{"name":"user_id","in":"path","description":"Format - int32. The ID of the user.","required":true,"type":"integer","format":"int32"},{"name":"relationshipCreate","in":"body","schema":{"$ref":"#/definitions/RelationshipCreate"},"description":"Defines the relationship to be created."}],"consumes":["application/json"],"responses":{"200":{"description":"OK"}}}},"/v1/users/phonetypes":{"get":{"description":"Returns a collection of phone types.\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>SKY API Data Sync</li><li>Any Manager Role</li></ul>","operationId":"V1UsersPhonetypesGet","summary":"Users phone types","tags":["User"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PhoneTypeCollection"},"examples":{"application/json":{"count":2,"value":[{"id":123456,"type":"Home"},{"id":123457,"type":"Home 2"}]}}}}}},"/v1/users/extended":{"get":{"description":"Returns a paginated collection of extended user details, limited to 1000 users per page.\n\r\nUse the last user's ID as the ```marker``` value to return the next set of results.\n\r\nRequires the following role in the Education Management system:\r\n<ul><li>SKY API Data Sync</li></ul>","operationId":"V1UsersExtendedGet","summary":"Users extended by role(s)","tags":["User"],"parameters":[{"name":"base_role_ids","in":"query","description":"Comma-delimited list of base role IDs to get users for.","required":true,"type":"string"},{"name":"marker","in":"query","description":"Format - int32. The user's ID to start at to return the next batch of data. Results will start with the next user in the result set.","type":"integer","format":"int32"},{"name":"page_size","in":"query","description":"Format - int32. The number of records to return. Defaults to 1000","type":"integer","format":"int32"}],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserExtendedCollection"},"examples":{"application/json":{"count":1,"value":[{"id":1,"addresses":[{"id":2315317,"address_type":"Home","salutations":{"informal":"Jack Smith","formal":"Mr. and  Mrs. John and Jane Smith","household":"The Smith Family"},"city":"Bedford","country":"United States","line_one":"493 Round Robin Drive","line_three":"","line_two":"","mailing_address":true,"postal_code":"03110","primary":false,"province":"","region":"","shared":false,"state":"NH","type_id":1495,"user_id":1801001}],"abroad":false,"affiliation":"AAA","audit_date":"2018-08-30T12:00:00","birth_date":"1998-05-02T12:00:00","birth_place":"","boarding_or_day":"B","cc_email_active":true,"chat_service":"","citizenship":"Mexican","created_date":"1988-05-02T12:00:00","custom_field_eight":"","custom_field_five":"","custom_field_four":"","custom_field_nine":"","custom_field_one":"","custom_field_seven":"","custom_field_six":"","custom_field_ten":"","custom_field_three":"","custom_field_two":"","deceased":false,"deceased_date":"2018-08-30T12:00:00","depart_date":"2018-08-30T12:00:00","display":"Holmes, Calvin (Cal) '18","education":[{"id":674483,"degree":"","field":"","grad_year":"1988","major":"Business","school":"Blackbaud University","sort_order":1},{"id":670792,"degree":"","field":"","grad_year":"1978","major":"","school":"Oxford University","sort_order":2}],"email":"example@example.com","cc_email":"ccEmail@example.com","email_active":true,"enroll_date":"2018-08-30T12:00:00","ethnicity":"","first_name":"John","gender":"","gender_description":"","greeting":"","host_id":"","home_languages":[{"id":1,"description":"French"},{"id":2,"description":"English"}],"is_responsible_signer":false,"in_state":{"resident":"Yes","county":"","from_date":"2025-04-04T07:43:19"},"international":"No","last_modified_date":"2008-05-02T12:00:00","last_name":"Smith","last_sync_date":"2018-08-30T12:00:00","latino_hispanic":"Yes","legacy_user_name":"","living_arrangement":"","lost":false,"locker":{"number":"","combo":""},"maiden_name":"","mailbox":{"number":"","combo":""},"middle_name":"Nolan","misc_bio":"","nick_name":"Jonny","occupations":[{"id":1040150,"begin_date":"2018-08-30T12:00:00","business_name":"ccdr","current":true,"end_date":"2018-08-30T12:00:00","industry":"comp","job_function":"computer","matching_gift":false,"organization":"abcv","parent_company":"ab","profession":"tech","specialty":"new","title":"Swimming Coach","url":"http://abc.com","user_id":2828293,"years_employed":3},{"id":117377,"begin_date":"2018-08-30T12:00:00","current":false,"end_date":"2018-08-30T12:00:00","job_function":"","matching_gift":false,"title":"Headmaster","user_id":2828293}],"online_presences":[{"id":1,"type":{"id":1,"description":"FaceChat"},"link":"www.facechat.com/janedoe"}],"passport":{"number":"","expire_date":"2025-03-15T07:43:19"},"personal_bio":"","personal_website":"","phones":[{"id":1221707,"phone_type":"Home","index_id":365520,"links":[{"id":2614,"shared":false,"shared_relationship":"","shared_user":"","type_id":"Home 2","user_id":1801001},{"id":1712,"shared":true,"shared_relationship":"Child","shared_user":"June Abelle","type_id":"Home","user_id":4969592}],"number":"603-669-7896","type_id":1712,"user_id":1574389},{"id":4660802,"phone_type":"Work","index_id":4112661,"links":[],"number":"555-777-9999","type_id":2614,"user_id":2844867}],"prefix":"Mr.","preferred_name":"Jonny","primary_language":"English","profile_photo":{"photo_url":"","thumbnail_url":""},"profile_url":"https://sisacademy.myschoolapp.com.sf.bbk12.com/app#profile/1574389/contactcard","pronouns":"","public_bio":"","races":[{"race_type_id":9,"description":"Black - African American","user_race_id":102,"user_id":1801001},{"race_type_id":11,"description":"White","user_race_id":101,"user_id":1801001}],"relationships":[{"comment":"Picks up student after school","contact":true,"first_name":"Maura","last_name":"Smith","list_as_parent":true,"parental_access":true,"primary":false,"relationship":6,"resides_with":true,"show_parent":true,"tuition_responsible_signer":true,"type_id":1,"user_one_id":1801001,"user_one_role":"Child","user_two_id":3552640}],"religion":"","retire_date":"2018-08-30T12:00:00","roles":[{"id":1,"base_role_id":14,"hidden":false,"name":"Student"},{"id":2,"base_role_id":15,"hidden":false,"name":"Teacher"}],"screen_name":"","school_program":"","state_id":"","student_id":"12345","student_info":{"grade_id":0,"grade_level_id":1234,"grad_year":"2018","grade_level":"12","grade_level_description":"Senior","grade_level_abbreviation":"12","grade_level_name":"12","school_levels":[{"id":1,"abbreviation":"US","name":"Upper School"}]},"suffix":"","username":"cholmes","visa":{"number":"12345","status":{"id":123,"description":"Expired"},"type":{"id":234,"description":"Student"},"issue_date":"2025-02-23T07:43:19","expire_date":"2025-03-15T07:43:19"},"preferred_last_name":"Smith"}]}}}}}},"/v1/academics/sections/{section_id}/students":{"get":{"description":"Returns a collection of students in the specified ```section_id```.\n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Academic Group Manager</li><li>Teacher</li></ul>","operationId":"V1AcademicsSectionsBySection_idStudentsGet","summary":"Academics students by section","tags":["Academics"],"parameters":[{"name":"section_id","in":"path","description":"Format - int32. The ID of the section, which can be found using <a href=\"https://developer.sky.blackbaud.com/docs/services/school/operations/V1AcademicsSectionsGet\">Section list</a>.","required":true,"type":"integer","format":"int32"}],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/StudentCollection"},"examples":{"application/json":{"count":2,"value":[{"id":4866154,"name":"Chelsea Caynon"},{"id":2861900,"name":"David Gagne"}]}}}}}},"/v1/users/changed":{"get":{"description":"Returns a paginated collection of users that have been created or modified within the specified timeframe. The timeframe is from the start_date to the start_date plus seven days.\n\r\nRequires the following role in the Education Management system:\r\n<ul><li>SKY API Data Sync</li></ul>","operationId":"V1UsersChangedGet","summary":"Users changed by base role(s)","tags":["User"],"parameters":[{"name":"base_role_ids","in":"query","description":"Comma-delimited list of base role IDs to get users for.","required":true,"type":"string"},{"name":"start_date","in":"query","description":"Format - date-time (as date-time in RFC3339). The date to begin looking for changes. Use <a href=\"https://en.wikipedia.org/wiki/ISO_8601\" target=\"_blank\">ISO-8601</a> date format: 2003-04-21.","required":true,"type":"string","format":"date-time"}],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserExtendedCollection"},"examples":{"application/json":{"count":1,"value":[{"id":1,"addresses":[{"id":2315317,"address_type":"Home","salutations":{"informal":"Jack Smith","formal":"Mr. and  Mrs. John and Jane Smith","household":"The Smith Family"},"city":"Bedford","country":"United States","line_one":"493 Round Robin Drive","line_three":"","line_two":"","mailing_address":true,"postal_code":"03110","primary":false,"province":"","region":"","shared":false,"state":"NH","type_id":1495,"user_id":1801001}],"abroad":false,"affiliation":"AAA","audit_date":"2018-08-30T12:00:00","birth_date":"1998-05-02T12:00:00","birth_place":"","boarding_or_day":"B","cc_email_active":true,"chat_service":"","citizenship":"Mexican","created_date":"1988-05-02T12:00:00","custom_field_eight":"","custom_field_five":"","custom_field_four":"","custom_field_nine":"","custom_field_one":"","custom_field_seven":"","custom_field_six":"","custom_field_ten":"","custom_field_three":"","custom_field_two":"","deceased":false,"deceased_date":"2018-08-30T12:00:00","depart_date":"2018-08-30T12:00:00","display":"Holmes, Calvin (Cal) '18","education":[{"id":674483,"degree":"","field":"","grad_year":"1988","major":"Business","school":"Blackbaud University","sort_order":1},{"id":670792,"degree":"","field":"","grad_year":"1978","major":"","school":"Oxford University","sort_order":2}],"email":"example@example.com","cc_email":"ccEmail@example.com","email_active":true,"enroll_date":"2018-08-30T12:00:00","ethnicity":"","first_name":"John","gender":"","gender_description":"","greeting":"","host_id":"","home_languages":[{"id":1,"description":"French"},{"id":2,"description":"English"}],"is_responsible_signer":false,"in_state":{"resident":"Yes","county":"","from_date":"2025-04-04T07:43:19"},"international":"No","last_modified_date":"2008-05-02T12:00:00","last_name":"Smith","last_sync_date":"2018-08-30T12:00:00","latino_hispanic":"Yes","legacy_user_name":"","living_arrangement":"","lost":false,"locker":{"number":"","combo":""},"maiden_name":"","mailbox":{"number":"","combo":""},"middle_name":"Nolan","misc_bio":"","nick_name":"Jonny","occupations":[{"id":1040150,"begin_date":"2018-08-30T12:00:00","business_name":"ccdr","current":true,"end_date":"2018-08-30T12:00:00","industry":"comp","job_function":"computer","matching_gift":false,"organization":"abcv","parent_company":"ab","profession":"tech","specialty":"new","title":"Swimming Coach","url":"http://abc.com","user_id":2828293,"years_employed":3},{"id":117377,"begin_date":"2018-08-30T12:00:00","current":false,"end_date":"2018-08-30T12:00:00","job_function":"","matching_gift":false,"title":"Headmaster","user_id":2828293}],"online_presences":[{"id":1,"type":{"id":1,"description":"FaceChat"},"link":"www.facechat.com/janedoe"}],"passport":{"number":"","expire_date":"2025-03-15T07:43:19"},"personal_bio":"","personal_website":"","phones":[{"id":1221707,"phone_type":"Home","index_id":365520,"links":[{"id":2614,"shared":false,"shared_relationship":"","shared_user":"","type_id":"Home 2","user_id":1801001},{"id":1712,"shared":true,"shared_relationship":"Child","shared_user":"June Abelle","type_id":"Home","user_id":4969592}],"number":"603-669-7896","type_id":1712,"user_id":1574389},{"id":4660802,"phone_type":"Work","index_id":4112661,"links":[],"number":"555-777-9999","type_id":2614,"user_id":2844867}],"prefix":"Mr.","preferred_name":"Jonny","primary_language":"English","profile_photo":{"photo_url":"","thumbnail_url":""},"profile_url":"https://sisacademy.myschoolapp.com.sf.bbk12.com/app#profile/1574389/contactcard","pronouns":"","public_bio":"","races":[{"race_type_id":9,"description":"Black - African American","user_race_id":102,"user_id":1801001},{"race_type_id":11,"description":"White","user_race_id":101,"user_id":1801001}],"relationships":[{"comment":"Picks up student after school","contact":true,"first_name":"Maura","last_name":"Smith","list_as_parent":true,"parental_access":true,"primary":false,"relationship":6,"resides_with":true,"show_parent":true,"tuition_responsible_signer":true,"type_id":1,"user_one_id":1801001,"user_one_role":"Child","user_two_id":3552640}],"religion":"","retire_date":"2018-08-30T12:00:00","roles":[{"id":1,"base_role_id":14,"hidden":false,"name":"Student"},{"id":2,"base_role_id":15,"hidden":false,"name":"Teacher"}],"screen_name":"","school_program":"","state_id":"","student_id":"12345","student_info":{"grade_id":0,"grade_level_id":1234,"grad_year":"2018","grade_level":"12","grade_level_description":"Senior","grade_level_abbreviation":"12","grade_level_name":"12","school_levels":[{"id":1,"abbreviation":"US","name":"Upper School"}]},"suffix":"","username":"cholmes","visa":{"number":"12345","status":{"id":123,"description":"Expired"},"type":{"id":234,"description":"Student"},"issue_date":"2025-02-23T07:43:19","expire_date":"2025-03-15T07:43:19"},"preferred_last_name":"Smith"}]}}}}}},"/v1/users/{user_id}/phones":{"get":{"description":"Returns a collection phone numbers for the specified ```user_id```.","operationId":"V1UsersByUser_idPhonesGet","summary":"Users phones by user","tags":["User"],"parameters":[{"name":"user_id","in":"path","description":"Format - int32. The ID of the user.","required":true,"type":"integer","format":"int32"}],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PhoneReadCollection"},"examples":{"application/json":{"count":2,"value":[{"id":1221707,"phone_type":"Home","index_id":365520,"links":[{"id":2614,"shared":false,"shared_relationship":"","shared_user":"","type_id":"Home 2","user_id":1801001},{"id":1712,"shared":true,"shared_relationship":"Child","shared_user":"June Abelle","type_id":"Home","user_id":4969592}],"number":"603-669-7896","type_id":1712,"user_id":1574389},{"id":4660802,"phone_type":"Work","index_id":4112661,"links":[],"number":"555-777-9999","type_id":2614,"user_id":2844867}]}}}}},"post":{"description":"Creates a new phone record for the specified ```user_id```.\n\r\nReturns the ID of the phone number created.\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>SKY API Data Sync</li><li>Platform Manager</li><li>Contact Card Manager</li></ul>","operationId":"V1UsersByUser_idPhonesPost","summary":"Users phone create","tags":["User"],"parameters":[{"name":"user_id","in":"path","description":"Format - int32. The ID of the user.","required":true,"type":"integer","format":"int32"},{"name":"phoneAdd","in":"body","schema":{"$ref":"#/definitions/PhoneAdd"},"description":"The phone information to be created."}],"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"ID of the phone just added.","schema":{"format":"int64","type":"integer"},"examples":{"application/json":7654981}}}}},"/v1/users/{user_id}/occupations":{"get":{"description":"Returns a collection of occupations for the specified ```user_id```. \n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>SKY API Data Sync</li></ul>","operationId":"V1UsersByUser_idOccupationsGet","summary":"Users occupations by user ID","tags":["User"],"parameters":[{"name":"user_id","in":"path","description":"Format - int32. The ID of the user.","required":true,"type":"integer","format":"int32"}],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OccupationReadCollection"},"examples":{"application/json":{"count":2,"value":[{"id":1040150,"begin_date":"2018-08-30T12:00:00","business_name":"ccdr","current":true,"end_date":"2018-08-30T12:00:00","industry":"comp","job_function":"computer","matching_gift":false,"organization":"abcv","parent_company":"ab","profession":"tech","specialty":"new","title":"Swimming Coach","url":"http://abc.com","user_id":2828293,"years_employed":3},{"id":117377,"begin_date":"2018-08-30T12:00:00","current":false,"end_date":"2018-08-30T12:00:00","job_function":"","matching_gift":false,"title":"Headmaster","user_id":2828293}]}}}}},"post":{"description":"Creates an occupation record for the specified ```user_id```.\n\r\nReturns the ID of the occupation created. \n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>SKY API Data Sync</li><li>Platform Manager</li><li>Contact Card Manager</li></ul>","operationId":"V1UsersByUser_idOccupationsPost","summary":"Users occupation create","tags":["User"],"parameters":[{"name":"user_id","in":"path","description":"Format - int32. The ID of the user.","required":true,"type":"integer","format":"int32"},{"name":"occupationCreate","in":"body","schema":{"$ref":"#/definitions/OccupationCreate"},"description":"The occupation information to be created."}],"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"},"examples":{"application/json":5782957}}}}},"/v1/users/{user_id}/emergencycontacts":{"get":{"description":"Returns a collection of emergency contacts for the specified ```user_id```.\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>SKY API Data Sync</li></ul>","operationId":"V1UsersByUser_idEmergencycontactsGet","summary":"Users emergency contacts by user ID","tags":["User"],"parameters":[{"name":"user_id","in":"path","description":"Format - int32. The ID of the user.","required":true,"type":"integer","format":"int32"}],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EmergencyContactList"},"examples":{"application/json":{"id":5,"email_contact_list":[{"id":1,"automated_email":"Emergency Only","contact_id":1,"email":"example@aol.com","first_name":"John","last_name":"Smith","relationship":"Child","relationship_id":1,"relationship_user_id":11111,"sort_order":1,"user_contact_id":0}],"phone_contact_list":[{"id":1,"call_dialer":"Emergency Only","contact_id":1,"first_name":"John","last_name":"Smith","phone_id":1,"phone_index_id":1,"phone_number":"555-555-5555","phone_type":"Home","relationship":"Child","relationship_id":1,"relationship_user_id":11111,"sort_order":1,"user_contact_id":0}]}}}}}},"/v1/athletics/teams/{team_id}/roster":{"get":{"description":"Returns a collection of players and coaches for the specified athletic team's ID. \n\r\nThe ```team_id``` can be retrieved using the GET athletics teams endpoint. \n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Athletic Group Manager</li><li>Team Schedule Manager</li><li>Coach</li><li>Pending Coach</li></ul>","operationId":"V1AthleticsTeamsByTeam_idRosterGet","summary":"Athletics team roster","tags":["Athletics"],"parameters":[{"name":"team_id","in":"path","description":"Format - int32. The ID for the team to get the roster for.","required":true,"type":"integer","format":"int32"}],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Roster"},"examples":{"application/json":{"id":12345,"coaches":{"count":1,"value":[{"id":3,"first_name":"Coach","last_name":"One","title":"Head Coach","preferred_name":"Coach"}]},"players":{"count":2,"value":[{"id":1,"accolades":"Best jumper","first_name":"Player","height":"5'1","hometown":"Mushroom Kingdom","jersey":1,"last_name":"One","position":"First","returning_letter":true,"team_captain":true,"weight":"250","preferred_name":"Best","photos":{"large_filename_url":"//some.cdn.com/pathTo/largeFilename1","thumb_filename_url":"//some.cdn.com/pathTo/thumbFilename1"},"publish_name":true,"publish_height":true,"publish_weight":true,"publish_photo":true},{"id":2,"accolades":"","first_name":"Player","height":"5'6","hometown":"Mushroom Kingdom","jersey":2,"last_name":"Two","position":"Second","returning_letter":true,"team_captain":false,"weight":"170","preferred_name":"King","photos":{"large_filename_url":"//some.cdn.com/pathTo/largeFilename2","thumb_filename_url":"//some.cdn.com/pathTo/thumbFilename2"},"publish_name":true,"publish_height":true,"publish_weight":true,"publish_photo":true}]}}}}}}},"/v1/athletics/sports":{"get":{"description":"Returns a collection of athletic sports.\n\r\nUse the optional ```season_id``` to filter the results by season.\n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Athletic Group Manager</li><li>Schedule Manager</li><li>Page Manager</li><li>Coach</li><li>Pending Coach</li></ul>","operationId":"V1AthleticsSportsGet","summary":"Athletics sports","tags":["Athletics"],"parameters":[{"name":"season_id","in":"query","description":"Format - int32. Season ID","type":"integer","format":"int32"}],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SportCollection"},"examples":{"application/json":{"count":2,"value":[{"id":10162,"level":{"id":0,"abbreviation":"Upper School, Lower School, Entire School"},"name":"Soccer","season":{"id":643,"name":"Fall"}},{"id":20220,"level":{"id":0,"abbreviation":"Upper School"},"name":"Football","season":{"id":643,"name":"Fall"}}]}}}}}},"/v1/academics/sections/students":{"post":{"description":"Adds bulk enrollment data (students and/or teachers) for the specified section(s).\n\r\nReturns True if successful, otherwise false.\n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Academic Group Manager</li><li>Schedule Manager</li></ul>","operationId":"V1AcademicsSectionsStudentsPost","summary":"Academics enroll students into sections","tags":["Academics"],"parameters":[{"name":"bulkEnrollment","in":"body","schema":{"$ref":"#/definitions/BulkEnrollment"},"description":"Defines which users (students and/or teachers) should be added to which offerings (via ```section_id``` and duration ```id```)"}],"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PostResponse"},"examples":{"application/json":{"value":true}}}}}},"/v1/athletics/schedules":{"get":{"description":"Returns a collection of athletic games for the current school year. \n\r\nUse the ```start_date``` and/or ```end_date``` to filter to a specific timeframe. \n\r\nReturns data for a specific team by setting the ```team_id``` using the GET teams endpoint. \n\r\nReturns both games and practices by setting ```include_practice``` to true. \n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Athletic Group Manager</li><li>Team Schedule Manager</li><li>Schedule Manager</li><li>Coach</li><li>Pending Coach</li></ul>","operationId":"V1AthleticsSchedulesGet","summary":"Athletics schedules","tags":["Athletics"],"parameters":[{"name":"start_date","in":"query","description":"Format - date-time (as date-time in RFC3339). Filter games/practices after this date","type":"string","format":"date-time"},{"name":"end_date","in":"query","description":"Format - date-time (as date-time in RFC3339). Filter games/practices before this date","type":"string","format":"date-time"},{"name":"school_year","in":"query","description":"Filter on a specific school year. Defaults to current school year.","type":"string"},{"name":"include_practice","in":"query","description":"Set to ```true``` to include practices with games. Defaults to false.","type":"boolean","default":false},{"name":"team_id","in":"query","description":"Format - int32. Filter games/practices for a specific team. Defaults to all teams.","type":"integer","default":0,"format":"int32"},{"name":"last_modified","in":"query","description":"Format - date-time (as date-time in RFC3339). Set date to limit results to games with information changed on and after that date.","type":"string","format":"date-time"}],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ScheduleItemCollection"},"examples":{"application/json":{"count":1,"value":[{"id":12345,"alumni":false,"cancelled":false,"created":"2021-03-20T12:00:00","departure_location":"Front Door","departure_time":"2025-04-04","description":"Some details about the event","directions":"Go out the front door, then take a left","dismissal_time":"2025-04-04","end_time":"2025-04-04","end_time_span":"2025-04-04","event_time":{"date":"2021-03-20T12:00:00","start":"2025-04-04","end":"2025-04-04","duration":"2025-04-04"},"title":"Week 7 Scrimmage","faculty":false,"game_date":"2021-03-20T12:00:00","game_time":{"date":"2021-03-20T12:00:00","start":"2025-04-04","end":"2025-04-04","duration":"2025-04-04"},"highlight_id":1234567,"home_or_away":"Home","invitational":false,"last_modified":"2021-03-20T12:00:00","league":false,"location":"Back field #2","location_address":{"address_line1":"Back field","address_line2":"#2","address_line3":"Test Address","city":"Groton","state":"Sample state","country":"Iraq","zip":"54321","province":"Province test"},"map_url":"http://maps.google.com/someplace/somewhere","meet":90123456,"opponents":[{"id":9014556,"name":"Alabaster Brightwings","score":"77 - 11","win_loss":"Win","opponent_score":"11","team_score":"77"}],"pickup_time":"2025-04-04","playoff":false,"practice":false,"published":true,"require_dinner":false,"require_lunch":false,"rescheduled":true,"rescheduled_date":"2021-03-20T12:00:00","rescheduled_note":"Rescheduled from last month to next month","room_id":5678901,"schedule_type":1,"scrimmage":true,"section_id":8901234,"show_details":false,"show_directions":true,"show_versus":true,"start_time":"2025-04-04","team_id":67890,"time":"2025-04-04","tournament":false,"uniform_color":"White (away)"}]}}}}}},"/v1/athletics/teams":{"get":{"description":"Returns a collection of athletic teams for the current school year. \n\r\nUse the optional ```school_year``` parameter to specify a different year. \n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Athletic Group Manager</li><li>Team Schedule Manager</li><li>Coach</li><li>Pending Coach</li></ul>","operationId":"V1AthleticsTeamsGet","summary":"Athletics teams","tags":["Athletics"],"parameters":[{"name":"school_year","in":"query","description":"School year","type":"string"}],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TeamCollection"},"examples":{"application/json":{"count":2,"value":[{"id":4316266,"name":"Average Joes","sport":{"id":31080,"name":"Dodgeball"}},{"id":4316264,"name":"YAY","sport":{"id":31076,"name":"Extreme Ball"}}]}}}}}},"/v1/attendance":{"get":{"description":"Returns a collection of student attendance records for the specified day.\n</br>\r\nPlease use this <a href=\"https://webfiles-sc1.blackbaud.com/support/helpfiles/k12-kb/sis-tutorial-attendance-setup.html\"> Attendance Setup Guide</a> to verify your attendance settings.\n</br>\r\nRequires the following role in the Education Management system:\r\n<ul><li>Attendance Manager</li></ul>","operationId":"V1AttendanceGet","summary":"Attendance record","tags":["Attendance"],"parameters":[{"name":"level_id","in":"query","description":"Format - int32. The ID of the school level to retrieve attendance records.","required":true,"type":"integer","format":"int32"},{"name":"day","in":"query","description":"Format - date-time (as date-time in RFC3339). The date to return attendance for.","required":true,"type":"string","format":"date-time"},{"name":"offering_type","in":"query","description":"Format - int32. The offering type to retrieve records for.","required":true,"type":"integer","format":"int32"},{"name":"excuse_type","in":"query","description":"Format - int32. Filters results to a specific excuse type.","type":"integer","format":"int32"}],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AttendanceGetCollection"},"examples":{"application/json":{"count":2,"value":[{"id":3520290,"attendance_of_record":true,"attendance_type":false,"block_name":"A","comment":"Field Trip","date":"2018-08-30T12:00:00","excuse_category_description":"Field Trip Category","excuse_category_id":0,"excuse_description":"Field Trip","excuse_type_id":396,"excused":1,"grad_year":"2013","grade":"12","grade_level_sort":1200,"group_name":"Sculture - 1 (A)","photo_file_name":"thumb_user2845263_109153.jpg","section":"1","section_id":1300129,"student_name":"Arai, Emilia '13","student_user_id":2845263,"teacher_name":"Viens, George"},{"id":3520291,"attendance_of_record":true,"attendance_type":false,"block_name":"E","comment":"Field Trip","date":"2018-08-30T12:00:00","excuse_category_description":"Field Trip Category","excuse_category_id":0,"excuse_description":"Field Trip","excuse_type_id":396,"excused":1,"grad_year":"2013","grade":"11","grade_level_sort":1100,"group_name":"Latin III - 1 (E)","photo_file_name":"thumb_user2845263_109162.jpg","section":"1","section_id":1300129,"student_name":"Smith, Ian","student_user_id":2845263,"teacher_name":"Sapsin, Flora"}]}}}}},"post":{"description":"Creates a new attendance record for the specified student.\n</br>\r\nPlease use this <a href=\"https://webfiles-sc1.blackbaud.com/support/helpfiles/k12-kb/sis-tutorial-attendance-setup.html\"> Attendance Setup Guide</a> to verify your attendance settings.\n</br>\r\nRequires the following role in the Education Management system:\r\n<ul><li>Attendance Manager</li></ul>","operationId":"V1AttendancePost","summary":"Attendance record create","tags":["Attendance"],"parameters":[{"name":"attendanceCreate","in":"body","schema":{"$ref":"#/definitions/AttendanceCreate"},"description":"Information about the attendance report"}],"consumes":["application/json"],"responses":{"200":{"description":"OK"}}}},"/v1/academics/teachers/{teacher_id}/sections":{"get":{"description":"Returns a collection of sections for the specified ```teacher_id```.\n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Academic Group Manager</li><li>Teacher</li></ul>","operationId":"V1AcademicsTeachersByTeacher_idSectionsGet","summary":"Academics sections by teacher","tags":["Academics"],"parameters":[{"name":"teacher_id","in":"path","description":"Format - int32. The ID of the teacher to get sections for.","required":true,"type":"integer","format":"int32"},{"name":"school_year","in":"query","description":"The school year. Corresponds to ```school_year_label``` in the <a href=\"https://developer.sky.blackbaud.com/docs/services/school/operations/v1yearsget\">Year list</a>.","type":"string"}],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AcademicsSectionCollection"},"examples":{"application/json":{"count":1,"value":[{"teachers":[{"id":4567,"head":true,"name":"John Smith","firstname":"John","lastname":"Smith","preferred_name":"Jon","formatted_name":"Smith, Jon","email":"jonsmith@example.com","cell_phone":"555-555-5555"}],"custom_fields":[{"usage_id":12345,"udf_usage_id":5,"data_type_id":1,"data_type":"Data Type","data_type_description":"Data Type Description","field_id":0,"field_name":"Field Name","bit_value":true,"int_value":1,"decimal_value":1.5,"text_value":"Text Value","last_modified_user_id":1,"last_modified_date":"2023-10-17T12:00:00","status":true,"unique":true,"required":true,"table_id":1,"table_value_id":1,"table_value":"Table Value","table_value_abbreviation":"Table Value Abbreviation"}],"id":123,"course_code":"123","duration":{"id":1,"name":"Duration Name"},"lead_section_id":2,"name":"Section name","offering_id":1,"parent_section_id":2,"room_id":12,"school_year":"2017-2018","section_identifier":"Section Identifier"}]}}}}}},"/v1/academics/departments":{"get":{"description":"Returns a collection of academic departments.\n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Academic Group Manager</li><li>Platform Manager</li><li>Any Manager Role</li></ul>","operationId":"V1AcademicsDepartmentsGet","summary":"Academics departments","tags":["Academics"],"parameters":[{"name":"level_id","in":"query","description":"Format - int32. Provide a school level ID to limit results to departments valid for the specified school level.","type":"integer","format":"int32"},{"name":"include_nonacademic","in":"query","description":"Set to true to include non-academic departments in results. Defaults to false.","type":"boolean"}],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DepartmentCollection"},"examples":{"application/json":{"count":2,"value":[{"id":123,"level_description":"Upper School","name":"Math","sort":10,"is_academic":true,"description":"","school_levels":[{"id":1,"description":"Upper School","abbreviation":"US"}]},{"id":124,"level_description":"Upper School","name":"English","sort":20,"is_academic":true,"description":"All English for Lower school campus","school_levels":[{"id":1,"description":"Upper School","abbreviation":"US"}]}]}}}}}},"/v1/academics/sections/{section_id}/cycles":{"get":{"description":"Returns a collection of cycles for the specified ```section_id```.\n\r\nRequires the following role in the Education Management system:\r\n<ul><li>Academic Group Manager</li></ul>","operationId":"V1AcademicsSectionsBySection_idCyclesGet","summary":"Academics cycles by section","tags":["Academics"],"parameters":[{"name":"section_id","in":"path","description":"Format - int32. The ID of the section.","required":true,"type":"integer","format":"int32"},{"name":"duration_id","in":"query","description":"Format - int32. The ID of the term for which you want to return cycles. Defaults to the current term for the section provided.","type":"integer","format":"int32"},{"name":"group_type","in":"query","description":"Format - int32. The Group Type for the section specified. Defaults to the 'Academics' (1).","type":"integer","default":1,"format":"int32"}],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SectionCycles"},"examples":{"application/json":{"section_id":33444555,"course_title":"Advanced Biology","section_identifier":"01-A","block_name":"E","course_code":"54321","cycles":[{"schedule_set":"Tue & Thur Eve","schedule_set_id":101,"week":222,"day":345,"begin_time":"2025-04-04","end_time":"2025-04-04","sun":false,"mon":false,"tue":true,"wed":false,"thu":true,"fri":false,"sat":false,"room_full_name":"Millhouse Rm110","canceled":false}]}}}}}},"/v1/academics/schedules/sets":{"get":{"description":"Returns a collection of Schedule Sets for the specified ```level_num```.\n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Academic Group Manager</li><li>Schedule Manager</li></ul>","operationId":"V1AcademicsSchedulesSetsGet","summary":"Academics schedule sets by level","tags":["Academics"],"parameters":[{"name":"level_num","in":"query","description":"Format - int32. Level Number indicates which school you are working with.","required":true,"type":"integer","format":"int32"},{"name":"school_year","in":"query","description":"The school year to get Schedule Sets for. Corresponds to ```school_year_label``` in the <a href=\"https://developer.sky.blackbaud.com/docs/services/school/operations/v1yearsget\">Year list</a>. Defaults to the current school year.","type":"string"},{"name":"group_type","in":"query","description":"Format - int32. The Group Type to filter the collection of Schedule Sets. Defaults to the 'Academics' (1).","type":"integer","default":1,"format":"int32"}],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ScheduleSetCollection"},"examples":{"application/json":{"count":1,"value":[{"schedule_set_id":100200300,"title":"Thur Afternoons","meeting_time":true,"rotation":true,"begin_date":"2018-07-01T12:00:00","end_date":"2019-06-15T12:00:00"}]}}}}}},"/v1/academics/schedules/sets/{schedule_set_id}":{"get":{"description":"Returns details about the specified ```schedule_set_id```.\n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Academic Group Manager</li><li>Schedule Manager</li></ul>","operationId":"V1AcademicsSchedulesSetsBySchedule_set_idGet","summary":"Academics schedule set","tags":["Academics"],"parameters":[{"name":"schedule_set_id","in":"path","description":"Format - int32. ID of the Schedule Set you seek.","required":true,"type":"integer","format":"int32"}],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ScheduleSetDetails"},"examples":{"application/json":{"begin_date":"2018-07-01T12:00:00","ScheduleSetId":1234,"ScheduleSetDescription":"Schedule Set E","Effdate":"2018-07-01T12:00:00","Enddate":"2019-06-15T12:00:00","StartDay":5,"StartWeek":1,"MaxDay":6,"MaxWeek":1,"MeetingList":[{"PatternNum":1,"Sun":false,"Mon":true,"Tue":true,"Wed":true,"Thu":false,"Fri":true,"Sat":false,"MeetingTimeList":[{"PatternNum":1,"DailyOrdinal":1,"BeginTime":"1900-01-01T08:00:00","EndTime":"1900-01-01T08:45:00"},{"PatternNum":1,"DailyOrdinal":2,"BeginTime":"1900-01-01T02:10:00","EndTime":"1900-01-01T03:55:00"}]}],"RotationList":[{"WeekInCycle":1,"WeekDayList":[{"WeekInCycle":1,"DayInCycle":1,"DayLabel":"DAY 1","RotaionDayMeetingList":[{"WeekInCycle":1,"DayInCycle":1,"BlockId":12345,"BlockName":"A"},{"WeekInCycle":1,"DayInCycle":1,"BlockId":98765,"BlockName":"B"}]}]}]}}}}}},"/v1/users/{user_id}":{"get":{"description":"Returns data for the specified ```user_id```. \n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>SKY API Data Sync</li></ul>","operationId":"V1UsersByUser_idGet","summary":"User by ID","tags":["User"],"parameters":[{"name":"user_id","in":"path","description":"Format - int32. ID of the user to be returned.","required":true,"type":"integer","format":"int32"}],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserRead"},"examples":{"application/json":{"id":1,"affiliation":"","custom_field_eight":"custom value","custom_field_five":"custom value","custom_field_four":"custom value","custom_field_nine":"custom value","custom_field_one":"custom value","custom_field_seven":"custom value","custom_field_six":"custom value","custom_field_ten":"custom value","custom_field_three":"custom value","custom_field_two":"custom value","deceased":false,"display":"John Smith","email":"example@example.com","email_active":true,"first_name":"John","gender":"M","gender_description":"Male","greeting":"","host_id":"","last_name":"Smith","lost":false,"maiden_name":"","middle_name":"Nolan","nick_name":"Jonny","preferred_name":"SuperStar","preferred_last_name":"Smith","dob":"2002-10-15T12:00:00","prefix":"Mr.","suffix":"III","profile_pictures":{"large_filename_url":"//some.cdn.com/pathTo/largeFilename","thumb_filename_url":"//some.cdn.com/pathTo/thumbFilename"}}}}}}},"/v1/users/{user_id}/addresses":{"get":{"description":"Returns a collection of addresses. \n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>SKY API Data Sync</li></ul>","operationId":"V1UsersByUser_idAddressesGet","summary":"Users addresses by user ID","tags":["User"],"parameters":[{"name":"user_id","in":"path","description":"Format - int32. The ID of the user.","required":true,"type":"integer","format":"int32"}],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AddressReadCollection"},"examples":{"application/json":{"count":1,"value":[{"id":2315317,"address_type":"Home","salutations":{"informal":"Jack Smith","formal":"Mr. and  Mrs. John and Jane Smith","household":"The Smith Family"},"city":"Bedford","country":"United States","line_one":"493 Round Robin Drive","line_three":"","line_two":"","links":[{"type_id":1005,"primary":false,"shared":true,"shared_relationship":"","shared_user":"Charles Brown","type":"Home","user_id":2212736},{"type_id":1495,"primary":false,"shared":false,"type":"Home 2","user_id":1801001}],"mailing_address":true,"postal_code":"03110","primary":false,"province":"","region":"","state":"NH","type_id":1495,"user_id":1801001}]}}}}},"post":{"description":"Returns the ID of the address just created. \n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>SKY API Data Sync</li><li>Platform Manager</li><li>Contact Card Manager</li></ul>","operationId":"V1UsersByUser_idAddressesPost","summary":"Users address create","tags":["User"],"parameters":[{"name":"user_id","in":"path","description":"Format - int32. The ID of the user.","required":true,"type":"integer","format":"int32"},{"name":"addressAdd","in":"body","schema":{"$ref":"#/definitions/AddressAdd"},"description":"Address information to be updated."}],"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"ID of the address just added.","schema":{"format":"int64","type":"integer"},"examples":{"application/json":465879213}}}}},"/v1/users/addresstypes":{"get":{"description":"Returns a collection of address types. \n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>SKY API Data Sync</li><li>Any Manager Role</li></ul>","operationId":"V1UsersAddresstypesGet","summary":"Users address types","tags":["User"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AddressTypeCollection"},"examples":{"application/json":{"count":2,"value":[{"id":123456,"type":"Home"},{"id":123457,"type":"Home 2"}]}}}}}},"/v1/users/{user_id}/addresses/{address_id}":{"patch":{"description":"Returns ID of the address just updated. \n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>SKY API Data Sync</li><li>Platform Manager</li><li>Contact Card Manager</li></ul>","operationId":"V1UsersByUser_idAddressesByAddress_idPatch","summary":"Users address update","tags":["User"],"parameters":[{"name":"user_id","in":"path","description":"Format - int32. The ID of the user.","required":true,"type":"integer","format":"int32"},{"name":"address_id","in":"path","description":"Format - int32. The ID of the address to be updated.","required":true,"type":"integer","format":"int32"},{"name":"addressPatch","in":"body","schema":{"$ref":"#/definitions/AddressPatch"},"description":"Address information to be updated."}],"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"ID of the address just updated.","schema":{"format":"int64","type":"integer"},"examples":{"application/json":1345268}}}}},"/v1/users/{user_id}/education":{"get":{"description":"Returns a collection of education information for the specified ```user_id```. \n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>SKY API Data Sync</li></ul>","operationId":"V1UsersByUser_idEducationGet","summary":"Users education by user","tags":["User"],"parameters":[{"name":"user_id","in":"path","description":"Format - int32. The ID of the user.","required":true,"type":"integer","format":"int32"}],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EducationReadCollection"},"examples":{"application/json":{"count":2,"value":[{"id":674483,"degree":"","field":"","grad_year":"1988","major":"Business","school":"Blackbaud University","sort_order":1},{"id":670792,"degree":"","field":"","grad_year":"1978","major":"","school":"Oxford University","sort_order":2}]}}}}},"post":{"description":"Creates an education entry for a user. \n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>SKY API Data Sync</li><li>Platform Manager</li><li>Contact Card Manager</li></ul>","operationId":"V1UsersByUser_idEducationPost","summary":"Users education create","tags":["User"],"parameters":[{"name":"user_id","in":"path","description":"Format - int32. The ID of the user.","required":true,"type":"integer","format":"int32"},{"name":"educationAdd","in":"body","schema":{"$ref":"#/definitions/EducationAdd"},"description":"The education model."}],"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"},"examples":{"application/json":0}}}}},"/v1/academics/specialdays":{"get":{"description":"Returns a collection of special days.\n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Academic Group Manager</li><li>Schedule Manager</li></ul>","operationId":"V1AcademicsSpecialdaysGet","summary":"Academics special days","tags":["Academics"],"parameters":[{"name":"level_id","in":"query","description":"Format - int32. Identifier for a specific school level.","type":"integer","format":"int32"}],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SpecialDayCollection"},"examples":{"application/json":{"count":1,"value":[{"id":5,"day_description":"National Holiday #1","sort_order":1,"rotation_behavior":"Bump","blocks":[{"block_id":22,"block_description":"Period A","start_time":"1900-01-01T08:00:00","end_time":"1900-01-01T09:15:00"},{"block_id":34,"block_description":"Period C","start_time":"1900-01-01T02:05:00","end_time":"1900-01-01T03:20:00"}]}]}}}}}},"/v1/academics/courses":{"get":{"description":"Returns a collection of academic courses, filtered by department and/or school level.\n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Academic Group Manager</li><li>Platform Manager</li></ul>","operationId":"V1AcademicsCoursesGet","summary":"Academics courses","tags":["Academics"],"parameters":[{"name":"department_id","in":"query","description":"Format - int32. Identifier for a specific department.","type":"integer","format":"int32"},{"name":"level_id","in":"query","description":"Format - int32. Identifier for a specific school level.","type":"integer","format":"int32"}],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CourseCollection"},"examples":{"application/json":{"count":1,"value":[{"offering_id":1010,"course_length":1,"course_code":"Math101","course_title":"Intro To Algebra","course_description":"The introductory course for the subject of Algebra.","inactive":false,"level_num":123,"room_type_id":11788,"room_id":14,"building_id":2,"credits":0.5,"custom_fields":[{"usage_id":12345,"udf_usage_id":5,"data_type_id":1,"data_type":"Data Type","data_type_description":"Data Type Description","field_id":0,"field_name":"Field Name","bit_value":true,"int_value":1,"decimal_value":1.5,"text_value":"Text Value","last_modified_user_id":1,"last_modified_date":"2023-10-17T12:00:00","status":true,"unique":true,"required":true,"table_id":1,"table_value_id":1,"table_value":"Table Value","table_value_abbreviation":"Table Value Abbreviation"}],"grade_levels":[{"id":1506,"active":true,"description":"12th Grade","abbreviation":"12","name":"12th Grade","promote_to_code":2}],"schedule_settings":{"min_sections":1,"target_sections":1,"max_sections":1,"min_students":10,"target_students":15,"max_students":18},"departments":[{"id":123,"level_description":"Upper School","name":"Math","is_academic":true,"description":""}]}]}}}}}},"/v1/types/attendancetypes":{"get":{"description":"Returns a collection of attendance types.\n</br>\r\nRequires the following role in the Education Management system:\r\n<ul><li>SKY API Basic</li></ul>","operationId":"V1TypesAttendancetypesGet","summary":"Types attendance types","tags":["Types"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AttendanceTypes"},"examples":{"application/json":{"present":1,"absence":2,"tardy":3}}}}}},"/v1/types/excusedurationtypes":{"get":{"description":"Returns a collection of excuse duration types.\n</br>\r\nRequires the following role in the Education Management system:\r\n<ul><li>SKY API Basic</li></ul>","operationId":"V1TypesExcusedurationtypesGet","summary":"Types excuse duration types","tags":["Types"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ExcuseDurationTypes"},"examples":{"application/json":{"na":0,"full_day":1,"half_day":2}}}}}},"/v1/types/excusedtypes":{"get":{"description":"Returns a collection of excused types.\n</br>\r\nRequires the following role in the Education Management system:\r\n<ul><li>SKY API Basic</li><li>Any Manager Role</li></ul>","operationId":"V1TypesExcusedtypesGet","summary":"Types excused types","tags":["Types"],"parameters":[{"name":"school_level","in":"query","description":"Provide the ID of a school level to limit results to excuse types valid for that school level.","type":"string","default":""}],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ExcusedTypesCollection"},"examples":{"application/json":{"count":2,"value":[{"category_description":"Excused Absenses","category_id":55049,"excuse_type_id":1094,"excuse_description":"College Tour","use_in_calculations":true,"excused":"Excused","duration":"FullDay","attendance_type":"Absence","school_levels":[{"id":1,"abbreviation":"US","name":"Upper School"}]},{"category_description":"Unexcused Absenses","category_id":54999,"excuse_type_id":18544,"excuse_description":"AWOL","use_in_calculations":true,"excused":"Unexcused","duration":"FullDay","attendance_type":"Absence","school_levels":[{"id":1,"abbreviation":"US","name":"Upper School"}]}]}}}}}},"/v1/academics/schedules/master":{"get":{"description":"Returns a collection of Master Schedule days within the date range provided.\n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Academic Group Manager</li><li>Schedule Manager</li><li>SKY API Basic</li></ul>","operationId":"V1AcademicsSchedulesMasterGet","summary":"Academics master schedule","tags":["Academics"],"parameters":[{"name":"level_num","in":"query","description":"Format - int32. Level Number indicates which school you are working with.","required":true,"type":"integer","format":"int32"},{"name":"start_date","in":"query","description":"Format - date-time (as date-time in RFC3339). Start of the date range (inclusive).  The earliest possible start_date is 1/1/1900, any date entered before that date will be overwritten with 1/1/1900.","required":true,"type":"string","format":"date-time"},{"name":"end_date","in":"query","description":"Format - date-time (as date-time in RFC3339). End of the date range (inclusive). If the end_date is earlier than the start_date the end_date wil be overwritten with the start_date plus 7 days.","required":true,"type":"string","format":"date-time"},{"name":"offering_type","in":"query","description":"Format - int32. Filters the results by a specific group type. Defaults to \"All\" offering types.","type":"integer","format":"int32"}],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MasterScheduleDayCollection"},"examples":{"application/json":{"count":2,"value":[{"calendar_day":"2019-06-06T12:00:00","schedule_sets":[{"schedule_set_id":85214793,"day_label":"Thursday","blocks":[{"block_id":9876454,"block":"E Block","start_time":"2019-06-06T02:25:00","end_time":"2019-06-06T03:05:00","offering_type":1,"is_canceled":false}]}]},{"calendar_day":"2019-06-07T12:00:00","schedule_sets":[{"schedule_set_id":12345098,"holiday_label":"Very Special Holiday","blocks":[]}]}]}}}}}},"/v1/athletics/sportslevels":{"get":{"description":"Returns a collection of athletic sports levels.\n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Team Schedule Manager</li><li>Coach</li><li>Pending Coach</li><li>Any Manager Role</li></ul>","operationId":"V1AthleticsSportslevelsGet","summary":"Athletics sports levels","tags":["Athletics"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SportsLevelCollection"},"examples":{"application/json":{"count":1,"value":[{"id":78789,"name":"Girls Soccer Varsity","description":"Upper School","gender":"F","level_of_play":"Varsity","sport_id":10162,"sport":"Soccer","season_id":643,"season":"Fall"}]}}}}}},"/v1/admissions/checklists":{"get":{"description":"Returns a collection of admissions checklists.\n</br>\r\nUse the optional ```search_text``` to apply a case-insensitive search against check lists \"name\".\n\r\nUse the optional ```inactive``` to return only inactive checklists (default is both).\n\r\nRequires the following role in the Education Management system:\r\n<ul><li>Admissions Manager</li></ul>","operationId":"V1AdmissionsChecklistsGet","summary":"Admissions checklists (Legacy)","tags":["Admissions"],"parameters":[{"name":"search_text","in":"query","description":"Applies a case-insensitive search against check lists \"name\".","type":"string"},{"name":"inactive","in":"query","description":"flag to return only inactive checklists (default is both).","type":"boolean"}],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AdmissionsCheckListCollection"},"examples":{"application/json":{"count":1,"value":[{"checklist_id":45245,"name":"My Checklist","is_inactive":false,"is_locked":false,"is_sample":false}]}}}}}},"/v1/users/audit":{"get":{"description":"Returns a collection of audit information based on the specified ```role_id``` within the dates provided.\n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>SKY API Data Sync</li></ul>","operationId":"V1UsersAuditGet","summary":"Users audit by role ID","tags":["User"],"parameters":[{"name":"role_id","in":"query","description":"Role to return audit information for.","required":true,"type":"string"},{"name":"start_date","in":"query","description":"Format - date-time (as date-time in RFC3339). The date to begin looking for changes. Must be greater than 01/01/1990.","type":"string","format":"date-time"},{"name":"end_date","in":"query","description":"Format - date-time (as date-time in RFC3339). The date to end looking for changes.  Must be within 1 year of start_date. Null returns start_date + 7 days.","type":"string","format":"date-time"}],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserAuditReadCollection"},"examples":{"application/json":{"count":1,"value":[{"field_name":"grad_year","change_date":"2021-09-30T12:00:00","value_before":"","value_after":"2022","user_id":452145}]}}}}}},"/v1/venues/buildings":{"get":{"description":"Returns a collection of buildings.\r\n<p><b>Requires the 'Team Schedule Manager', 'Coach', 'Athletic Group Manager' or 'Pending Coach' role in the K12 system.</b></p>","operationId":"V1VenuesBuildingsGet","summary":"Athletics buildings","tags":["Venues"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BuildingReadCollection"},"examples":{"application/json":{"count":1,"value":[{"building_id":104509,"building_name":"Harker Hall","building_types":["Academics","Events"],"rooms":[{"room_id":554980,"room_number":"101","name":"Science Room A","code":"A101","capacity":"200","room_type":"Academics","room_type_id":11788}]}]}}}}}},"/v1/admissions/candidates":{"post":{"description":"Creates a new admissions candidate record.\n</br>\r\nReturns the ID of the newly created candidate.\n</br>\r\nRequires one of the following roles in the Education Management system:\r\n<ul><li>Admissions Manager</li><li>Admissions Staff</li></ul>","operationId":"V1AdmissionsCandidatesPost","summary":"Admissions candidate create (Legacy)","tags":["Admissions"],"parameters":[{"name":"candidateCreate","in":"body","schema":{"$ref":"#/definitions/CandidateCreate"}}],"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"},"examples":{"application/json":450924}}}},"get":{"description":"Returns a collection of admissions candidates.\n</br>\r\nRequires one of the following roles in the Education Management system:\r\n<ul><li>Admissions Manager</li><li>Platform Manager</li><li>SKY API Data Sync</li></ul>\r\nNOTE: The following fields have been deprecated and are no longer returned as of 01/01/2023.\r\n <ul><li>school_decision</li><li>school_decision_type</li><li>candidate_decision</li><li>candidate_decision_type</li></ul>\r\nUse the school decision and candidate decision objects instead.\n\n\r\n            \r\nNOTE: The filter for school_year_id has been replaced by school_year.\n\r\nThe school_year_id filter has been deprecated and no longer functions as of 01/01/2023.","operationId":"V1AdmissionsCandidatesGet","summary":"Admissions candidates (Legacy)","tags":["Admissions"],"parameters":[{"name":"school_year","in":"query","description":"The school year for which to return results.  Corresponds to ```school_year_label``` in the <a href=\"https://developer.sky.blackbaud.com/docs/services/school/operations/v1yearsget\">Year list</a>.  Default is current year.","type":"string"},{"name":"status_ids","in":"query","description":"One or more comma delimited status Id(s) to filter results on.  Corresponds to ```id``` in the <a href=\"https://developer.sky.blackbaud.com/docs/services/school/operations/V1AdmissionsStatusGet\">Status list</a>.  Default is no status Id filter.","type":"string","default":""},{"name":"modified_date","in":"query","description":"Format - date-time (as date-time in RFC3339). The date last modified to filter results to on or after. Use <a href=\"https://en.wikipedia.org/wiki/ISO_8601\" target=\"_blank\">ISO-8601</a> date format: 2003-04-21. Default is no modified date filter","type":"string","format":"date-time"}],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CandidateReadCollection"},"examples":{"application/json":{"count":1,"value":[{"user_id":12345,"first_name":"James","last_name":"Dean","middle_name":"Byron","prefix":"","suffix":"","nickname":"Jimmy","role":"Candidate","role_id":4543,"current_status":"Applied","status_id":646,"entering_year":"2020 - 2021","entering_year_id":4520144,"entering_grade":"9","entering_grade_id":544,"email":"JimmyJim@DeansCourt.com","comment":"Enjoys Chess and Acting","parent1_email":"Mom@DeansCourt.com","parent2_email":"Dad@DeansCourt.com","international":false,"school_program":"High School Program","gender":"M","ethnicity":"Caucasian","boarding_or_day":"B","financial_aid":true,"admissions_staff_id":54321,"admissions_staff":"John Smith","inquiry_source":"Open House","inquiry_source_id":3,"referral_type":"Alum","referral_type_id":1,"has_iep":false,"has_504":true,"created_by":"789789","created":"2023-01-06T11:13:33","modified_by":"789789","modified":"2023-01-06T11:13:33","preferred_name":"Jimmy","decision":{"id":3213,"name":"Conditionally Accepted","decision_type":"Accepted","decision_type_id":6,"date":"2023-01-06T11:13:33","expire_date":"2023-01-06T11:13:33","comment":"Waiting for test results.","candidate_response":{"id":5430,"name":"Excited to Attend","decision_type":"Enrolling","decision_type_id":14,"date":"2023-01-06T11:13:33"}},"family_id":2,"current_status_date":"2024-03-31T12:00:00","application":{"id":1,"date_submitted":"2024-03-31T12:00:00","date_processed":"2024-03-31T12:00:00","source":{"id":1,"description":"Email"}},"events":[{"id":1,"name":"Open House","start_time":"2024-03-31T12:00:00","is_registered":true,"attended":false,"comment":"An eventful comment"}],"interviews":[{"id":1,"start_time":"2024-03-31T12:00:00","end_time":"2024-03-31T12:00:00","interviewer_other":"John Bridges","rating":10,"is_rescheduled":false,"comment":"A candid comment"}],"visits":[{"id":1,"start_time":"2024-03-31T12:00:00","end_time":"2024-03-31T12:00:00","guide_other":"John Bridges","is_rescheduled":false,"comment":"A candid comment"}]}]}}}}}},"/v1/users/enroll":{"post":{"description":"Creates the users enrollment record.\n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>SKY API Data Sync</li></ul>","operationId":"V1UsersEnrollPost","summary":"Users enrollment create","tags":["User"],"parameters":[{"name":"userEnrollmentCreate","in":"body","schema":{"$ref":"#/definitions/UserEnrollmentCreate"}}],"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserEnrollmentResponse"},"examples":{"application/json":{"id":0,"message":"string"}}}}}},"/v1/athletics/venues":{"get":{"description":"Returns a collection of athletic venues. \n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Athletic Group Manager</li><li>Team Schedule Manager</li><li>Coach</li><li>Pending Coach</li></ul>","operationId":"V1AthleticsVenuesGet","summary":"Athletics venues","tags":["Athletics"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AthleticVenueCollection"},"examples":{"application/json":{"count":1,"value":[{"id":454521,"name":"Main field"}]}}}}}},"/v1/athletics/transportationtypes":{"get":{"description":"Returns a collection of athletic transportation types. \n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Athletic Group Manager</li><li>Team Schedule Manager</li><li>Schedule Manager</li><li>Coach</li><li>Pending Coach</li><li>Any Manager Role</li></ul>","operationId":"V1AthleticsTransportationtypesGet","summary":"Athletics transportation types","tags":["Athletics"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TransportationCollection"},"examples":{"application/json":{"count":1,"value":[{"id":65238,"name":"School Bus (25)"}]}}}}}},"/v1/athletics/locations":{"get":{"description":"Returns a collection of athletic locations. \n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Athletic Group Manager</li><li>Team Schedule Manager</li><li>Schedule Manager</li><li>Coach</li><li>Pending Coach</li></ul>","operationId":"V1AthleticsLocationsGet","summary":"Athletics locations","tags":["Athletics"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LocationCollection"},"examples":{"application/json":{"count":1,"value":[{"id":75389,"name":"South City Main Field","address_line1":"123 Main Street","address_line2":"","address_line3":"","city":"Springfield","state":"Texas","state_short":"TX","country":"USA","zip":"12345-0954","province":"","map_url":"http://www.somemap.com/","directions":"Go straight, take left at light","travel_time":15,"opponent_id":8765}]}}}}},"post":{"description":"Creates a new athletic location. \n\r\nThe location can optionally be tied to an opponent using the ```opponent_id``` from the GET opponents endpoint. \n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Athletic Group Manager</li><li>Team Schedule Manager</li><li>Schedule Manager</li><li>Coach</li><li>Pending Coach</li></ul>","operationId":"V1AthleticsLocationsPost","summary":"Athletics location create","tags":["Athletics"],"parameters":[{"name":"locationCreateModel","in":"body","schema":{"$ref":"#/definitions/LocationCreateModel"},"description":"The location to be created"}],"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"},"examples":{"application/json":0}}}}},"/v1/athletics/opponents":{"get":{"description":"Returns a collection of athletic opponents. \n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Athletic Group Manager</li><li>Team Schedule Manager</li><li>Page Manager</li><li>Coach</li><li>Pending Coach</li></ul>","operationId":"V1AthleticsOpponentsGet","summary":"Athletics opponents","tags":["Athletics"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OpponentFlyweightCollection"},"examples":{"application/json":{"count":1,"value":[{"id":75389,"name":"Oregon Dark Stars","in_use":true}]}}}}},"post":{"description":"Creates a new athletic opponent. \n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Athletic Group Manager</li><li>Team Schedule Manager</li><li>Schedule Manager</li><li>Page Manager</li><li>Coach</li><li>Pending Coach</li></ul>","operationId":"V1AthleticsOpponentsPost","summary":"Athletics opponent create","tags":["Athletics"],"parameters":[{"name":"opponentUpdateModel","in":"body","schema":{"$ref":"#/definitions/OpponentUpdateModel"},"description":"The opponent to be created"}],"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"},"examples":{"application/json":0}}}}},"/v1/athletics/teams/{team_id}/schedule":{"patch":{"description":"Updates the game data for the specified ```team_id``` and athletic ```game_id```. \n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Athletic Group Manager</li><li>Team Schedule Manager</li><li>Schedule Manager</li><li>Coach</li><li>Pending Coach</li></ul>","operationId":"V1AthleticsTeamsByTeam_idSchedulePatch","summary":"Athletics game update","tags":["Athletics"],"parameters":[{"name":"team_id","in":"path","description":"Format - int32. ID of the team for the game to be updated","required":true,"type":"integer","format":"int32"},{"name":"gameUpdate","in":"body","schema":{"$ref":"#/definitions/GameUpdate"},"description":"Information for the game to be updated"}],"consumes":["application/json"],"responses":{"200":{"description":"OK"}}},"post":{"description":"Creates a new athletic game for the specified ```team_id```. \n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Athletic Group Manager</li><li>Team Schedule Manager</li><li>Schedule Manager</li><li>Coach</li><li>Pending Coach</li></ul>","operationId":"V1AthleticsTeamsByTeam_idSchedulePost","summary":"Athletics game create","tags":["Athletics"],"parameters":[{"name":"team_id","in":"path","description":"Format - int32. ID of the team for the game to be created","required":true,"type":"integer","format":"int32"},{"name":"gameCreate","in":"body","schema":{"$ref":"#/definitions/GameCreate"},"description":"Information about the game to be created"}],"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"},"examples":{"application/json":0}}}}},"/v1/academics/enrollments/{user_id}":{"get":{"description":"Returns a collection of course sections in which the provided student is enrolled.\n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Academic Group Manager</li><li>Schedule Manager</li></ul>","operationId":"V1AcademicsEnrollmentsByUser_idGet","summary":"Academics student enrollment list","tags":["Academics"],"parameters":[{"name":"user_id","in":"path","description":"Format - int32. User identifier.","required":true,"type":"integer","format":"int32"},{"name":"school_year","in":"query","description":"The school year to filter the collection of sections by. Corresponds to ```school_year_label``` in the <a href=\"https://developer.sky.blackbaud.com/docs/services/school/operations/v1yearsget\">Year list</a>. Defaults to the current school year.","type":"string"}],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EnrollmentCollection"},"examples":{"application/json":{"count":1,"value":[{"id":21890883,"begin_date":"2018-08-30T12:00:00","block_id":1966,"block_name":"A","blocks":true,"building_name":"Alumni Hall","course_code":"AL1","course_title":"Arthurian Legends","enrollment_type":{"id":123,"description":"Student Enrollment","earns_credit":true,"use_all_grades":true,"takes_attendance":true,"is_default":true},"departments":[{"id":1,"level_description":"Level Description","name":"English","sort":1,"is_academic":false}],"distinction":"","dropped":0,"duration_begin_date":"2018-11-25T12:00:00","duration_description":"Fall","duration_end_date":"2019-02-01T12:00:00","duration_id":78739,"duration_name":"Fall","end_date":"2019-11-24T12:00:00","faculty_first_name":"Ian","faculty_last_name":"Smith","level_number":455,"offering_description":"Athletics","offering_id":263402,"offering_type_id":9,"room_id":6959,"room_name":"107 update","room_number":"Alu. 107","school_year":"2017 - 2018","section_identifier":"1","custom_fields":[{"usage_id":12345,"udf_usage_id":5,"data_type_id":1,"data_type":"Data Type","data_type_description":"Data Type Description","field_id":0,"field_name":"Field Name","bit_value":true,"int_value":1,"decimal_value":1.5,"text_value":"Text Value","last_modified_user_id":1,"last_modified_date":"2018-11-25T12:00:00","status":true,"unique":true,"required":true,"table_id":1,"table_value_id":1,"table_value":"Table Value","table_value_abbreviation":"Table Value Abbreviation"}]}]}}}}}},"/v1/admissions/checkliststatus":{"get":{"description":"Returns a collection of admissions checklist statuses.\n\r\nRequires the following role in the Education Management system:\r\n<ul><li>Admissions Manager</li></ul>","operationId":"V1AdmissionsCheckliststatusGet","summary":"Admissions checklist status (Legacy)","tags":["Admissions"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AdmissionsChecklistStatusCollection"},"examples":{"application/json":{"count":3,"value":[{"status_id":6,"status_name":"Inquiry","ordinal":10},{"status_id":143,"status_name":"Applicant","ordinal":20},{"status_id":1201,"status_name":"Accepted","ordinal":30}]}}}}}},"/v1/users/{user_id}/employment":{"get":{"description":"Returns the employment details for the specified ```user_id```.  \n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>SKY API Data Sync</li></ul>","operationId":"V1UsersByUser_idEmploymentGet","summary":"Users employment by user ID","tags":["User"],"parameters":[{"name":"user_id","in":"path","description":"Format - int32. The ID of the user.","required":true,"type":"integer","format":"int32"}],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FacultyEmploymentRead"},"examples":{"application/json":{"user_id":4059234,"first_name":"Jackson","last_name":"Hewitt","date_appointed":"2018-08-30T12:00:00","date_departed":"2020-04-15T12:00:00","school_levels":"Upper School, Middle School","employee_roles":"Activity Leader, Coach, Dorm Supervisor, Past Advisor, Teacher","departments":"Music (US), Technology (ES), Yarn Crafts (US) - Chair, MS Language Arts (M), US Science (US) - Chair","grade_levels":"9, 10, 11, 12","main_sports":"Scrabble (US), LARPing (), Pokemon Hunting (US, L), Waterpolo (US)"}}}}},"patch":{"description":"Updates the employment information for a user. \n\r\nRequires the following role in the Education Management system:\r\n<ul><li>SKY API Data Sync</li><li>SKY API Platform Manager</li></ul>","operationId":"V1UsersByUser_idEmploymentPatch","summary":"Users employment update","tags":["User"],"parameters":[{"name":"user_id","in":"path","description":"Format - int32. The ID of the user.","required":true,"type":"integer","format":"int32"},{"name":"userEmploymentUpdate","in":"body","schema":{"$ref":"#/definitions/UserEmploymentUpdate"}}],"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"},"examples":{"application/json":0}}}}},"/v1/users/extended/{user_id}":{"get":{"description":"Returns extended user details for the specified ```user_id```.\n\r\nRequires the following role in the Education Management system:\r\n<ul><li>SKY API Data Sync</li></ul>","operationId":"V1UsersExtendedByUser_idGet","summary":"Users extended by user","tags":["User"],"parameters":[{"name":"user_id","in":"path","description":"Format - int32. The ID of the user.","required":true,"type":"integer","format":"int32"}],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserExtended"},"examples":{"application/json":{"id":1,"addresses":[{"id":2315317,"address_type":"Home","salutations":{"informal":"Jack Smith","formal":"Mr. and  Mrs. John and Jane Smith","household":"The Smith Family"},"city":"Bedford","country":"United States","line_one":"493 Round Robin Drive","line_three":"","line_two":"","mailing_address":true,"postal_code":"03110","primary":false,"province":"","region":"","shared":false,"state":"NH","type_id":1495,"user_id":1801001}],"abroad":false,"affiliation":"AAA","audit_date":"2018-08-30T12:00:00","birth_date":"1998-05-02T12:00:00","birth_place":"","boarding_or_day":"B","cc_email_active":true,"chat_service":"","citizenship":"Mexican","created_date":"1988-05-02T12:00:00","custom_field_eight":"","custom_field_five":"","custom_field_four":"","custom_field_nine":"","custom_field_one":"","custom_field_seven":"","custom_field_six":"","custom_field_ten":"","custom_field_three":"","custom_field_two":"","deceased":false,"deceased_date":"2018-08-30T12:00:00","depart_date":"2018-08-30T12:00:00","display":"Holmes, Calvin (Cal) '18","education":[{"id":674483,"degree":"","field":"","grad_year":"1988","major":"Business","school":"Blackbaud University","sort_order":1},{"id":670792,"degree":"","field":"","grad_year":"1978","major":"","school":"Oxford University","sort_order":2}],"email":"example@example.com","cc_email":"ccEmail@example.com","email_active":true,"enroll_date":"2018-08-30T12:00:00","ethnicity":"","first_name":"John","gender":"","gender_description":"","greeting":"","host_id":"","home_languages":[{"id":1,"description":"French"},{"id":2,"description":"English"}],"is_responsible_signer":false,"in_state":{"resident":"Yes","county":"","from_date":"2025-04-04T07:43:19"},"international":"No answer","last_modified_date":"2008-05-02T12:00:00","last_name":"Smith","last_sync_date":"2018-08-30T12:00:00","latino_hispanic":"No answer","legacy_user_name":"","living_arrangement":"","lost":false,"locker":{"number":"","combo":""},"maiden_name":"","mailbox":{"number":"","combo":""},"middle_name":"Nolan","misc_bio":"","nick_name":"Jonny","occupations":[{"id":1040150,"begin_date":"2018-08-30T12:00:00","business_name":"ccdr","current":true,"end_date":"2018-08-30T12:00:00","industry":"comp","job_function":"computer","matching_gift":false,"organization":"abcv","parent_company":"ab","profession":"tech","specialty":"new","title":"Swimming Coach","url":"http://abc.com","user_id":2828293,"years_employed":3},{"id":117377,"begin_date":"2018-08-30T12:00:00","current":false,"end_date":"2018-08-30T12:00:00","job_function":"","matching_gift":false,"title":"Headmaster","user_id":2828293}],"online_presences":[{"id":1,"type":{"id":1,"description":"FaceChat"},"link":"www.facechat.com/janedoe"}],"passport":{"number":"","expire_date":"2025-03-15T07:43:19"},"personal_bio":"","personal_website":"","phones":[{"id":1221707,"phone_type":"Home","index_id":365520,"links":[{"id":2614,"shared":false,"shared_relationship":"","shared_user":"","type_id":"Home 2","user_id":1801001},{"id":1712,"shared":true,"shared_relationship":"Child","shared_user":"June Abelle","type_id":"Home","user_id":4969592}],"number":"603-669-7896","type_id":1712,"user_id":1574389},{"id":4660802,"phone_type":"Work","index_id":4112661,"links":[],"number":"555-777-9999","type_id":2614,"user_id":2844867}],"prefix":"Mr.","preferred_name":"Johnny","primary_language":"English","profile_photo":{"photo_url":"","thumbnail_url":""},"profile_url":"https://sisacademy.myschoolapp.com.sf.bbk12.com/app#profile/1574389/contactcard","pronouns":"","public_bio":"","races":[{"race_type_id":9,"description":"Black - African American","user_race_id":102,"user_id":1801001},{"race_type_id":11,"description":"White","user_race_id":101,"user_id":1801001}],"relationships":[{"comment":"Picks up student after school","contact":true,"first_name":"Maura","last_name":"Smith","list_as_parent":true,"parental_access":true,"primary":false,"relationship":6,"resides_with":true,"show_parent":true,"tuition_responsible_signer":true,"type_id":1,"user_one_id":1801001,"user_one_role":"Child","user_two_id":3552640}],"religion":"","retire_date":"2018-08-30T12:00:00","roles":[{"id":1,"base_role_id":14,"hidden":false,"name":"Student"},{"id":2,"base_role_id":15,"hidden":false,"name":"Teacher"}],"screen_name":"","school_program":"","state_id":"","student_id":"12345","student_info":{"grade_id":0,"grade_level_id":1234,"grad_year":"2018","grade_level":"12","grade_level_description":"Senior","grade_level_abbreviation":"12","grade_level_name":"12","school_levels":[{"id":1,"abbreviation":"US","name":"Upper School"}]},"suffix":"","username":"cholmes","visa":{"number":"12345","status":{"id":123,"description":"Expired"},"type":{"id":234,"description":"Student"},"issue_date":"2025-02-23T07:43:19","expire_date":"2025-03-15T07:43:19"},"preferred_last_name":"Smith"}}}}}},"/v1/athletics/teams/{team_id}/schedule/practice":{"post":{"description":"Creates a new athletic practice for the specified ```team_id```. \n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Team Schedule Manager</li><li>Page Manager</li></ul>","operationId":"V1AthleticsTeamsByTeam_idSchedulePracticePost","summary":"Athletics practice create","tags":["Athletics"],"parameters":[{"name":"team_id","in":"path","description":"Format - int32. ID of the team for the practice to be created","required":true,"type":"integer","format":"int32"},{"name":"practiceCreate","in":"body","schema":{"$ref":"#/definitions/PracticeCreate"},"description":"Information about the practice to be created"}],"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"},"examples":{"application/json":0}}}},"patch":{"description":"Updates the practice data for the specified athletic practice ```id```. \n\r\nRequires at least one of the following roles in the Education Management system:\r\n<ul><li>Athletic Group Manager</li></ul>","operationId":"V1AthleticsTeamsByTeam_idSchedulePracticePatch","summary":"Athletics practice update","tags":["Athletics"],"parameters":[{"name":"team_id","in":"path","description":"Format - int32. The ID of the team for the practice to be updated","required":true,"type":"integer","format":"int32"},{"name":"practiceUpdate","in":"body","schema":{"$ref":"#/definitions/PracticeUpdate"},"description":"Informati
[...]
